@import "tailwindcss";

.hero-bg{
  background-image: linear-gradient(rgba(0,0,0,0.6)) ,url("hero.png");
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #7932ac inset;
  -webkit-text-fill-color: #FFD700;
  transition: background-color 5000s ease-in-out 0s;
}
